@{
    ViewBag.Title = "Покупка";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .buy {
       text-align:center;

             }
        </style>
    <link rel="stylesheet" href="~/Content/OnasPage.css">
    <title>Buy</title>

</head>
<body>
    <div class="buy">
    <h2>Как купить</h2>
    <div>
        <p>Наш Автосалон находится: 
        <br/> Фонтанская дорога,10 г.Одесса
            <br /> Телефоны для справок:
            <br /> +380931581350
            <br /> +380931591360
            <br /> Работаем 24/7. 
            <br /> На все Электромобили распространяется  скидка от 10% 
            <img src="~/Content/Image/map.jpg" alt="" width="540" height="311" />
        </p>
        
        </div>
    </div>
    <div style="margin-bottom:10%"></div>
</body>
</html>
