@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div style="text-align:center">
<address>
   Autosalon DimaDi<br />
   Фонтанская дорога 10<br />
    <abbr title="Phone">P:</abbr>
   +380931581360
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:d_i_s_16@mail.ru">d_i_s_16@mail.ru</a><br />
 
</address>
</div>
<div style="margin-bottom:10%"></div>