
@{
    ViewBag.Title = "Кредит на авто";
}

<h2 style="text-align:center">Кредиты на авто</h2>
<p style="text-align:center">
    Кредиты на авто
<br/>под 7,99% годовых!*
    <br />НАЛИЧНЫМИ ДО 200 000 ГРН
    <br />БЕЗ ЗАЛОГА И НОТАРИАЛЬНЫХ ЗАТРАТ
    <br />БЕЗ ПЕРВОНАЧАЛЬНОГО ВЗНОСА
    <br />БЕЗ КАСКО
    <br />ЕЖЕМЕСЯЧНЫЙ ПЛАТЕЖ ОТ 1630 ГРН
</p>
<img src="~/Content/Image/кредит.png" />
<div style="margin-bottom:10%"></div>