@{
    ViewBag.Title = "Honda";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .honda {
            text-align: center;
            padding-left: 200px;
            padding-right: 200px;
            color: black;
            font-family: 'Times New Roman';
            font-size:1.3em;
        }
    </style>
    <link rel="stylesheet" href="~/Content/OnasPage.css">
    <title>Honda</title>

</head>
<body>
    <img src="~/Content/Image/honda.jpg" width="600" height="320" />
    <h2 style="text-align:center">История</h2> 
    <p class="honda">
        Компания основана в 1948 году, основатель — Соитиро Хонда (яп. 本田 宗一郎).
        <br />
        Решение компании о выходе на автомобильный рынок было весьма неодобрительно встречено японским правительством, так как считалось, что Honda, конкурируя на мировом рынке с Toyota, Nissan и Mitsubishi, в итоге навредит интересам страны. Однако, давление государства было проигнорировано руководством компании.
        <br />
        После энергетического кризиса 1973 года (резкий рост цен на нефть из-за ограничений на добычу, введённых странами Персидского залива) экономичные автомобили Honda стали бестселлерами на рынке США, а в меньшей степени также и Европы.
        <br />
    </p>
    <div style="margin-left: 70px; margin-right: 70px;">
        <div class="about-container-2">
            <div class="services-container-inner">
                <h3 class="about-title-2">CR-V 2015</h3>
                <img src="~/Content/Image/hondaCR-V1.jpg" alt="Image" class="img-responsive margin-bottom-15">
                <p class="about-description">
                    За 20 лет существования модели CR-V, ее владельцы каждый раз убеждались в надежности автомобиля. Кроссовер неоднократно получал титул «Лучшего компактного SUV» и является одним из самых популярных в мире автомобилей этого класса. Такая популярность среди потребителей действительно заслуженная.
                    <br />Обновленный CR-V не просто вобрал все лучшее за 20-летнюю историю модели, инженеры Honda усовершенствовали технологичность SUV до самого высокого уровня. Поэтому, сегодня CR-V - безусловно совершенный кроссовер. Совершенный, как никогда.
                </p>
                <p class="about-link about-link-2">@Html.ActionLink("Купить", "Buy", "Home")</p>
            </div>
            <div class="services-container-inner">
                <h3 class="about-title-2">Honda Accord 2015</h3>
                <img src="~/Content/Image/hondaAccord.jpg" alt="Image" class="img-responsive margin-bottom-15">
                <p class="about-description">
                    Обновленный Honda Accord 2015, сохранив все свои лучшие черты, обрел степенную осанку, став еще солиднее и современнее, что заметно с первого взгляда. Утонченная гармоничность его экстерьера подчеркнута острыми линиями капота, массивностью бампера, увеличенным узнаваемым лого и хромированной отделкой деталей. Передовые светодиодные фары головного света улучшенной обзорности, интегрированная выхлопная труба и современная решетка радиатора удачно дополняют имидж обновленного Honda Accord.
                    <br />Как всегда, изменения модели коснулись не только внешнего ее вида – теперь Accord предлагает новую спортивную трансмиссию CVT, берущей на себя функцию плавного изменения передаточного числа в широком диапазоне, что не только предоставляет близкие к идеальным условия для работы двигателя и уменьшение нагрузки на него
                </p>
                <p class="about-link about-link-2">@Html.ActionLink("Купить", "Buy", "Home")</p>
            </div>
            <div class="services-container-inner">
                <h3 class="about-title-2">Honda Civic 2015</h3>
                <img src="~/Content/Image/hondaCivic.jpg" alt="Image" class="img-responsive margin-bottom-15">
                <p class="about-description">
                    Разработка нового Civic заняла целых четыре года. Практически все его элементы были заменены новыми или усовершенствованы. Особое внимание уделялось конструкции подвески для повышения комфортности езды и управления и улучшению материалов салона для поднятия на новый уровень его качества в целом. Новый дизайн и аэродинамика освежили экстерьер Civic и повысили его производительность, двигатель был оптимизирован, а выбросы CO2 сокращены.
                    <br />В целом, новый Civic вобрал в себя самые сильные стороны предшественника и поднял их на качественно новый уровень. Также он является одним из лучших среди себе подобных в плане выбросов CO2.
                </p>
                <p class="about-link about-link-2">@Html.ActionLink("Купить", "Buy", "Home")</p>
            </div>
        </div>
    </div>
</body>
</html>