@{
    ViewBag.Title = "О нас";
  
}
<!DOCTYPE html>
<html>
<head>
    
    <style>
        body {
            background-attachment: fixed;
        }

        .onas {
            text-align: center;
            padding-left: 200px;
            padding-right: 200px;
            color: black;
            font-family: 'Times New Roman';
            /*text-shadow: 0 1px 0 #808080;*/
        }

        h1 {
            text-align: center;
            color: black;
            font-family: 'Times New Roman';
        }
        img {
            margin-top: 10px;
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
       </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/OnasPage.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/templatemo-style.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <title>О нас</title>
    <meta name="description" content="">
</head>

<body style=" background-color: #DCDCDC;">
  
   
    <div>
        <h1>О Нас</h1>
        <p class="onas">
            Автосалон  предлагает Вашему вниманию на продажу новые авто разнообразных автомобильных концернов мира.
            Автосалон,  Одесса предлагает Вашему вниманию новые автомобили, привезенные непосредственно Автосалоном, а не посредством поставщиков и частных перегонщиков. Этот факт позволяет нам предлагать конкурентные цены, что очень важно в нынешних рыночных условиях.
            Автосалон  предлагает отличные цены на новые авто в Одессе за счет минимизации затрат на посредников и различных агентов.
            <br>
            Мы имеем в своем распоряжении собственных лицензированных дилеров в Америке и Европе, работающих уже более 10-ти лет.
            У нас прямые договора с морскими линиями, стивидорными компаниями и транзитными складами, и с лучшей Украинской транспортной компанией, предоставляющей нам самые современные автовозы. Благодаря прямым договорным отношениям, долгосрочной партнерской работе и хорошему объему от нашей компании, мы имеем хорошие тарифы на доставку и всю логистику в целом, исключая затраты на посредников.
            <br>
            В Автосалоне  есть свой бокс предпродажной подготовки (химчистка / полировка, дополнительное оборудование), что также позволяет без лишних затрат подготовить авто к продаже в Одессе.
            Автосалон ,  продает и поставляет новые авто исключительно на собственные оборотные средства, что исключает надбавки в себестоимость, а в последствии и в продажную цену автомобиля.
            Свой оборотный капитал позволяет Автосалону   выполнять заказы на покупку и поставку нового или подержанного авто  всего при 10% от конечной стоимости доставленного и растаможенного автомобиля.
            Все эти конкурентные преимущества и определяют нашу ценовую политику. Цена + качество - это не наш девиз, это наша повседневная работа, при лучшем качестве мы стараемся дать максимально низкую стоимость авто в Одессе.
            <br>
            
            <img  src="~/Content/Image/Autosalon.jpg" width="800" height="400" />
            Автосалон находится в тёплом сухом помещении. Автомобили в салоне не мерзнут под снегом зимой, не мокнут под дождем и не плавятся под солнцем летом. Мы заботимся о вашем будущем приобретении.
            В автосалоне всегда широкий выбор авто. Автомобили одной марки, представленные в одесском салоне, имеют различную комплектацию и цветовую гамму, поэтому всегда есть из чего выбирать. Но вы также можете забронировать авто, находящийся в пути.
            Вы можете обменять свой автомобиль на наше авто с доплатой. Вы можете выставить свой автомобиль у нас на продажу в нашем автосалоне в Одессе. Если Вас не устроит предложенная цена по схеме "trade-in", мы продадим Ваш автомобиль сами с минимальной комиссией, все затраты на рекламу и хранение авто мы берём на себя. Также возможен выкуп автомобиля.
            <br>
            Позвоните и мы ответим на любой интересующий Вас вопрос связанный с покупкой авто!
            Наша компания, благодаря многолетнему опыту знает специфику продаваемых автомобилей на 5 баллов, из 5 возможных. Мы консультируем и сопровождаем Наших клиентов весь срок эксплуатации купленного у нас авто, и не отказываем в помощи сторонним клиентам.
            Вежливый и профессиональный подход наших сотрудников к Вашим капризам и пожеланиям Вас приятно удивит. Мы постараемся сделать все возможное для удовлетворения Ваших желаний.
            Продажа авто в Одессе, новых и бу
            <br>
            Купить авто в Одессе можно разными методами. Вы можете стать собственником нового авто из салона взяв его в кредит, купив по системе трейд-ин, или же приобрев автомобиль за полную стоимость за наличные.
            Самым лучшим способом покупки автомобиля в салоне является покупка его за наличные.
            <br>
            Для этого вам нужно всего лишь иметь желание и нужную сумму денег. Если же у вас в наличии небольшая сумма денег, то у вас выбор покупать какой-то совсем дешевый автомобиль, или же купить авто бу Одесса. Но чем больше сумма денег в вашем распоряжении, тем больше вероятность купить себе хороший надежный и комфортный автомобиль.
            Как правило, в больших городах имеется очень много разных автомобильных салонов, так что объехать их все у вас просто физически не получиться. На много лучше будет, если вы предварительно определитесь с автомобилем, который вы хотите купить. Для этого вы можете просмотреть предложения авто продажа Одесса в автосалонах, их стоимость, характеристики автомобилей, которые можно найти как в печатных так и в интернет изданиях.
            Найдя подходящий автомобиль вы можете прозвонить по контактному номеру и уточнить у автосалона наличие автомобиля, его цену и на каких условиях проводиться продажа авто в Одессе у этого салона.
            Если же вы нашли модель автомобиля, которая вам нравиться и решили ее покупать, то можете смело ехать в автосалон. Покупка автомобиля имеет огромный плюс – этот автомобиль в салоне сами оформят, поставят машину на учет в ГАИ, а также застрахуют вашу машину. Так что покупать авто Одесса за наличные деньги – это само удовольствие! Вам только нужно заплатить в кассу деньги и всё! Остальное сделают за вас.
        </p>
    </div>
    <div id="disqus_thread"></div>
   

    <script>
      
        var disqus_config = function () {
        this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//autodimadi.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</body>
</html>